/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2021, 11:52:14 PM
    Author     : isuru
*/

.background_image{
    -fx-background-color: linear-gradient(to bottom, #141E30, #243B55);
    
}
.textfiled{
    -fx-background-color: transparent;
    -fx-border-color: #2c6eb5;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-padding: 3px 3px3px 25px;
    -fx-text-inner-color:#fff;
}
.button{
   -fx-background-color: #2c6eb5;
   -fx-cursor: hand;
}
.button:hover{
    -fx-background-color: #5aa0ea;
}
.button2{
    -fx-border-width: 0px 0px 5px 0px;
}
.text{
     -fx-background-color: transparent;
    -fx-border-color: #2c6eb5;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-padding: 3px 3px3px 25px;
    -fx-text-inner-color:#fff;
}
.datepiker{
    -fx-font-size: 14px;
}
.font_color{
    -fx-text-inner-color: white;
}

